body {
  background: #0f172a;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 24px;
  color: #38bdf8;
  text-shadow: 0 0 10px #0ea5e9;
  margin-bottom: 10px;
}

canvas {
  background: #020617;
  border: 2px solid #38bdf8;
  box-shadow: 0 0 15px #0ea5e9;
}

#score {
  margin-top: 10px;
  font-size: 18px;
  color: #facc15;
}

button {
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  color: #020617;
  font-weight: bold;
  box-shadow: 0 0 8px #0ea5e9;
}

button:hover {
  background: #0ea5e9;
}

.hold-box {
  border: 2px solid #38bdf8;
  padding: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #020617;
  box-shadow: 0 0 10px #0ea5e9;
}

#holdLabel {
  color: #facc15;
  margin-bottom: 5px;
}

canvas {
  touch-action: none;
}